.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#E0E8F5;}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#B5C5E5;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#A0B3D8;}
.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#0B0C14;}
.st5{fill-rule:evenodd;clip-rule:evenodd;fill:url('#SVGID_1_');}
.st6{fill-rule:evenodd;clip-rule:evenodd;fill:#101537;}
.st7{fill-rule:evenodd;clip-rule:evenodd;fill:#B22B25;}
.st8{fill-rule:evenodd;clip-rule:evenodd;fill:#D64E47;}
.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#3C405F;}
.st10{fill-rule:evenodd;clip-rule:evenodd;fill:#684935;}
.st11{fill-rule:evenodd;clip-rule:evenodd;fill:#B66B41;}
.st12{fill-rule:evenodd;clip-rule:evenodd;fill:#D48750;}
.st13{fill-rule:evenodd;clip-rule:evenodd;fill:#EA5857;}
.st14{fill-rule:evenodd;clip-rule:evenodd;fill:#DB4242;}
.st15{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFAF9;}
.st16{fill-rule:evenodd;clip-rule:evenodd;fill:#131936;}
.st17{fill-rule:evenodd;clip-rule:evenodd;fill:#101326;}
.st18{fill-rule:evenodd;clip-rule:evenodd;fill:#F4AC83;}
.st19{fill-rule:evenodd;clip-rule:evenodd;fill:#F2D8CC;}
.st20{fill-rule:evenodd;clip-rule:evenodd;fill:#DCDCEF;}
.st21{fill-rule:evenodd;clip-rule:evenodd;fill:#B6B7D3;}
.st22{fill-rule:evenodd;clip-rule:evenodd;fill:#D1D0E6;}
.st23{fill-rule:evenodd;clip-rule:evenodd;fill:#9395BC;}
.st24{fill-rule:evenodd;clip-rule:evenodd;fill:#C0CDE9;}
.st25{fill-rule:evenodd;clip-rule:evenodd;fill:#F7B119;}
.st26{fill:#FFFFFF;}
.st27{fill-rule:evenodd;clip-rule:evenodd;fill:#2B4E3D;}
.st28{fill-rule:evenodd;clip-rule:evenodd;fill:#4B9176;}
.st29{fill-rule:evenodd;clip-rule:evenodd;fill:#1C7255;}
.st30{fill-rule:evenodd;clip-rule:evenodd;fill:#A6C86B;}
.st31{fill-rule:evenodd;clip-rule:evenodd;fill:#609850;}
.st32{fill-rule:evenodd;clip-rule:evenodd;fill:#151D3D;}
.st33{fill-rule:evenodd;clip-rule:evenodd;fill:#34395C;}
.st34{fill-rule:evenodd;clip-rule:evenodd;fill:#494F79;}
.st35{fill-rule:evenodd;clip-rule:evenodd;fill:#CECEE2;}
.st36{fill-rule:evenodd;clip-rule:evenodd;fill:#EDEDF7;}
